@media screen and (max-width: 640px) and (min-width: 360px) {
	.bodyCenterContent {
		height:420px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:430px;
		//overflow-y:scroll;
	}
}
@media screen and (max-width: 699px) and (min-width: 641px) {
	.bodyCenterContent {
		height:500px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:520px;
		//overflow-y:scroll;
	}
}
@media screen and (max-height: 568px) and (min-height: 400px) {
	.bodyCenterContent {
		height:320px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:320px;
		//overflow-y:scroll;
	}
}
@media screen and (max-height: 732px) and (min-height: 641px) {
	.bodyCenterContent {
		height:440px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:460px;
		//overflow-y:scroll;
	}
}

@media screen and (max-height: 800px) and (min-height: 732px) {
	.bodyCenterContent {
		height:500px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:520px;
		//overflow-y:scroll;
	}
}

@media screen and (max-height: 900px) and (min-height: 801px) {
	.bodyCenterContent {
		height:500px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:520px;
		//overflow-y:scroll;
	}
}
@media screen and (max-height: 1000px) and (min-height: 901px) {
	.bodyCenterContent {
		height:500px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:520px;
		//overflow-y:scroll;
	}
}
@media screen and (max-height: 1100px) and (min-height: 1001px) {
	.bodyCenterContent {
		height:790px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:790px;
		//overflow-y:scroll;
	}
}
@media screen and (max-height: 1200px) and (min-height: 1101px) {
	.bodyCenterContent {
		height:500px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:520px;
		//overflow-y:scroll;
	}
}
@media screen and (max-height: 1400px) and (min-height: 1201px) {
	.bodyCenterContent {
		height:500px;
		overflow-y:scroll;
	}
	.bodyCenterContentProfile {
		height:520px;
		//overflow-y:scroll;
	}
}

.msg-conversation-card .msg-conversation-card__presence-entity .presence-indicator--size-4 {
    bottom: 21px;
    right: 2px;
}

.presence-indicator--is-reachable.presence-indicator--size-4 {
    border-width: 3px;
}

.presence-indicator--is-reachable {
    border: 2px solid #469a1f;
}

.presence-indicator--size-4 {
    width: 12px;
    height: 12px;
}

.EntityPhoto-circle-4 {
    width: 56px;
    height: 56px;
    border: 1px solid transparent;
    border-radius: 49.9%;
}

.EntityPhoto-circle-3-stackedFacepile, .EntityPhoto-circle-4, .EntityPhoto-circle-4-ghost-person, .EntityPhoto-circle-4-stackedFacepile {
    box-sizing: border-box;
    background-clip: content-box;
}

.presence-indicator {
    border-radius: 50%;
    background: #fff;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    transition: background 167ms ease-in-out;
    box-sizing: border-box;
    -webkit-animation: fade-in 167ms ease-in;
    animation: fade-in 167ms ease-in;
}

.msg-conversation-card .msg-conversation-card__presence-entity {
    display: table-cell;
    vertical-align: middle;
}

.presence-entity--size-4 {
    width: 56px;
    height: 56px;
}

.badge-notify{
   background:red!important;
   position:relative;
   bottom: -31px;
   float: right;
   margin-right: -14px;
}

.badge-notify-in{
	background: red !important;
	position: relative;
	top: 29px;
	float: right;
	margin-right: -14px;
}

.badge-notify-out{
	background: red !important;
	position: relative;
	top: 29px;
	float: right;
	margin-right: -14px;
}

.badge-notify-new{
    background: red!important;
    position: relative;
    top: 34px;
    float: left;
    margin-left: 3px;
}

.badge-notify-outhistory{
   background:red!important;
   position:relative;
   top: 47px;
   float: right;
   margin-right: -14px;
}

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
.logoPart{
	padding-top:25%;
	padding-left:15%;
}
.logoText{
	//font-size:250px;
}
.logoDesign{
	width:20%;
	height:10%;
	padding-top:5%;
}
.buttonsPart{
	width:100%;
	height:auto;
	padding-bottom:5%;
	padding-left:10%;
}
.buttonsPart1{
	width:90%;
	height:10%;
	padding-bottom:5%;
	padding-left:15%;
}
.btnSign{
	
	font-size:65px !important;
	background-color:white;
	width:80% !important;
	height:6% !important;
	border-radius:50px;
}
.btnSign1{
	font-size:40px !important;
	background-color:white;
	width:80% !important;
	height:100px !important;
	border-radius:50px;
	text-align:center;
}
.btnSign a{
	color:#0ef5f9 !important;
	text-decoration:none;
}
.signUpOptions{
	padding-top:20%;
}
.backArrow{
	padding-top:0%;
	padding-right:5%;
	float:right;
}
.arrow{
	color:white;
	font-size:80px !important;
	text-decoration:none;
	
}
.seekbar{
	width:50%;
	
	padding-left:15%;
}
.float{
	float:left;
	padding-top:5%;
	padding-bottom:5%;
	font-size:25px;
}
.nextPosition{
	width:40%;
	padding-top:20%;
	padding-left:20%;
}
.next{
	width:100%;
	height:110px;
	font-size:40px;
	background:white;
	
	border-radius:50px;
	
}

.next a{
	text-decoration:none;
	color:#0ef5f9 !important;
	
}

.skip{
	width:80%;
	text-decoration:none;
	text-align:right;
	padding-top:10%;
	padding-right:10%;
	font-size:70px;
	float:right;
}
.circle {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: -99em;
  box-shadow: inset 0 0 0 5px #0ef5f9;
}

.circleinchat {
  display: block;
  width: 65px;
  height: 65px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: -99em;
  box-shadow: inset 0 0 0 5px #f7945b;
}

.circleoutchat {
  display: block;
  //width: 65px;
  height: 65px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: -99em;
}

.circleoutchat-notify {
  display: block;
  //width: 65px;
  height: 65px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: -99em;
  box-shadow: inset 0 0 0 2px red/* #0ef5f9 */;
}

#textarea {
    //-moz-appearance: textfield-multiline;
    //-webkit-appearance: textarea;
    border-bottom: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    //height: 280px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 200px;
    background-color: white;
    border-radius: 20px !important;
}
textarea {
	border-radius: 20px !important;
}

input[type=checkbox].ace.ace-switch.ace-switch-4:checked+.lbl::before, input[type=checkbox].ace.ace-switch.ace-switch-5:checked+.lbl::before {
    background-color: #f7945b;
    border-color: #f7945b;
}

#outScreenImg {
	max-width: 250px;
	max-height: 190px;
	margin-bottom:5px;
}
.ui-autocomplete { 
	position: absolute; 
	cursor: default;
	z-index:1030 !important;
} 

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    //margin-top: 20px;
    z-index: 1800;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



nav { //
	width: 1000px;
	padding-top: 30px;
	margin: 0 auto 0 auto;
}

nav ul.topnav {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}

nav ul.topnav li {
	display: inline-block;
	padding: 10px;
	width: 49%;
	font-size: 15px;
	margin: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: white;
	text-align: center;
}

.inkeyword {
	background-color: #f7945b;
	border-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	padding: 5px;
	width: 60%;
}

.outkeyword {
	background-color: #0ef5f9;
	border-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	padding: 5px;
	width: 60%;
}

.circlestyle {
	border-radius: 30px;
}

output {
	display: block;
	margin-top: 20px;
	color: #777;
}

output:before {
	content: "Selected Value: ";
	font-weight: bold;
}

/* body {
	font-family: Calibri, Arial;
} */

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.header {
	width: 100%;
	height: 60px;
	background: red;
	position: fixed;
	top: 0;
}

.customfont {
	font-family: sans-serif;
}
/* Overriding styles */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 0px;
	border-radius: 5px;
	background: white;
	outline: none; //
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

::-webkit-input-placeholder {
	font-size: 15px !important;
	font-style: italic;
	text-align: center;
	color:#A9A9A9;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 20px !important;
	font-style: italic;
	text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
	font-size: 20px !important;
	font-style: italic;
	text-align: center;
}

.radio {
	padding-left: 35px;
}

.radio label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
}

.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}

.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s
		cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
	opacity: 0;
}

.radio input[type="radio"]:focus+label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
	opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
	cursor: not-allowed;
}

.radio.radio-inline {
	margin-top: 0;
}

.radio-primary input[type="radio"]+label::after {
	background-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::before {
	border-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::after {
	background-color: #428bca;
}

.radio-danger input[type="radio"]+label::after {
	background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::before {
	border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::after {
	background-color: #d9534f;
}

.radio-info input[type="radio"]+label::after {
	background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::before {
	border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::after {
	background-color: #5bc0de;
}

.radio-warning input[type="radio"]+label::after {
	background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::before {
	border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::after {
	background-color: #f0ad4e;
}

.radio-success input[type="radio"]+label::after {
	background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::before {
	border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::after {
	background-color: #5cb85c;
}

.checkbox {
	padding-left: 20px;
}

.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
}

.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}

.checkbox input[type="checkbox"] {
	opacity: 0;
}

.checkbox input[type="checkbox"]:focus+label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label {
	opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}

.checkbox.checkbox-inline {
	margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
	background-color: #428bca;
	border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked+label::after {
	color: #fff;
}

input.faChkRnd, input.faChkSqr {
	visibility: hidden;
}

input.faChkRnd:checked:after, input.faChkRnd:after, input.faChkSqr:checked:after,
	input.faChkSqr:after {
	visibility: visible;
	font-family: FontAwesome;
	font-size: 25px;
	height: 17px;
	width: 17px;
	position: relative;
	top: -3px;
	left: 22px;
	background-color: #FFF;
	display: inline-block;
	color: #7bbe72;
}

input.faChkRnd:checked:after {
	content: '\f058';
}

input.faChkRnd:after {
	content: '\f10c';
}

input.faChkSqr:checked:after {
	content: '\f14a';
}

input.faChkSqr:after {
	content: '\f096';
}