body {
   	background-color: white;
   
}
body:after {
	content: "";
	background-image: url("http://worldartsme.com/images/world-map-for-background-clipart-1.jpg");
	background-repeat:repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.instyle {
	/* background-color: #f7945b;!important; */
	background-color: rgb(127, 226, 205);!important;
}
.outstyle {
	/* background-color: #0ef5f9;!important; */
	background-color: rgb(127, 226, 205);!important;
}
.selectedtab{
	background-color: rgb(56, 153, 150)
}
.navCurve {
	border-radius: 8px;
}
.multiUserIconStyle {
  display: block;
  //width: 65px;
  height: 47px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: -99em;
}

.keywordHomeStyle{
	padding-top:15px;
}
.milesHomeStyle{
	padding-top:8px;
}
.hrStyle{
	padding:0px;
	background-color: #E0E0E0;
	margin-top:0
}
.leftArrowStyle{
	margin-left:-25px;
}
.rightDeleteStyle{
	margin-right:-63px
}
.inHeaderFontsize{
	font-size: 17px;
}
.inHeaderMilesInput{
	width:38%;
	height:20px;
}
.ChatImageStyle {
	height: 108px;
    width: 89px;
}
.chatInitialMsgStyle{
	background-color: #e8ecf2;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 0em;
	padding:15px;
	border: 1px solid #A9A9A9;
}
.inChatSendStyle {
	//background-color:#f7945b;
	//background-color:#A9A9A9;
	background-color: #e8ecf2;
	min-height:30px;
	padding-left: 12px;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-top-left-radius: 2em;
	height:auto;
}
.inChatReceiveStyle {
	//background-color:#A9A9A9;
	background-color:white;
	min-height:30px;
	padding-left: 12px;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	height:auto;
	border: 1px solid #A9A9A9;
}
.outChatSendStyle {
	background-color:#0ef5f9;
	min-height:30px;
	padding-left: 12px;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-top-left-radius: 2em;
	height:auto;
}
.outHomeMsgStyle{
	background-color:white;
	height:129px;
	border: 1px solid #A9A9A9;
	margin-bottom: 7px;
}

.inHomeMsgStyle{
	border: 1px solid #A9A9A9;
	margin-bottom: 7px;
}

.outHistoryMsgStyle{
 	border: 1px solid #A9A9A9;
 	margin-bottom: 7px;
}

.outTimeDetails{
	font-size: 10px;
}
.outUserProfile {
  display: block;
  width: 45px;
  height: 45px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: -99em;
  /* box-shadow: inset 0 0 0 5px #f7945b; */
}

.outUserProfileNewNotification {
  display: block;
  width: 45px;
  height: 45px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: -99em;
  box-shadow: inset 0 0 0 2px red;
}

input[type=text] {
	border-radius: 6px !important;
	/*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}

input[type=password] {
	border-radius: 6px !important;
	/*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
.chatSendIcon{
	height: 24px;
    width: 53px;
    float: right;
    margin-top: -28px;
}

.forgotPassword,.changePhoto{
    color: #0088CC;
    font-size: 12px;
}
#zipCode::-moz-placeholder{
    color:#999;
    opacity:1
    padding: 6px 12px;
	font-size: 12px;
}

.form-control:-ms-input-placeholder{
    color:#999
}

.form-control::-webkit-input-placeholder{
    color:#999
}
.addBroadcastIcon{
	height: 83px;
    float: right;
    margin-bottom: 4px;
}